
 <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<html>
  <head>
   <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet"  type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='/script/jquery.transit.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>


<body style="background-color:black;">
  
  
  <div class="row">
    
  <div class="col col-lg-10 col-sm-12 col-xs-12" style="height:300px;background-color:#bf02ff;text-align:center;">
    <p style="font-family: 'Nunito', sans-serif;color:white;margin-top:10px;font-size:85px;">
  <%=blog.title%> <span style="font-family: 'Nunito',sans-serif;color:white;margin-top:40px;font-size:25px;">Created By </span>
         <%if(Creater.username === currentUser.username ){%>
       <span style="font-family: 'Nunito',sans-serif;color:black;font-size:35px;"> You</span>  </p>
      <%}else{%>
    <span style="font-family: 'Nunito',sans-serif;color:black;font-size:35px;"> <%=Creater.username%></span>  </p>
    <%}%>
    <p style="font-family: 'Nunito', sans-serif;color:white;margin-top:-60px;font-size:15px;">
    https://codesteak-swatipandey495325121.codeanyapp.com/blogs/<%=blog._id%>/run
    </p>
    
    
    
    
    
    <p> 
    <span style="background-color:white;padding:20px 10px 15px 10px;border-radius:5px;">
   <span style="font-family: 'Nunito',sans-serif;color:#bf02ff;font-size:25px;background-color:white">
   <i class="fa fa-calendar" aria-hidden="true"></i></span>
       <span style="font-family: 'Nunito',sans-serif;color:#bf02ff;font-size:20px;"> <%= blog.created.toDateString() %></span>
      </span>

    
  

       <span style="background-color:white;padding:20px 10px 15px 10px;border-radius:5px;margin-left:10px;">
       <span style="font-family: 'Nunito',sans-serif;color:#bf02ff;font-size:28px;">
   <i class="fa fa-eye" aria-hidden="true"></i></span>
       <span style="font-family: 'Nunito',sans-serif;color:#bf02ff;font-size:20px;"> <%= blog.Views %></span>
         </span>
    </p>
       
  
    
    
 
     </div>
    
    
    <div class="col col-lg-2 col-sm-12 col-xs-12" style="height:300px; text-align:center;
                                                         background-color: #bf02ff">
      

      <img src="<%=Creater.ProfileImage%>" style=" object-fit: cover;
                                                   opacity:0.5;
                                                   position: relative;
                                                    width:100%;
                                                    height: 100%;
                                                    padding-left:10px" alt="">
      
            
      <h2 style=" position: absolute; top: -25px;
                  object-fit: cover;
                  color:white;font-size:30px;
                  font-family: 'Nunito',sans-serif;
                 
                  padding: 110px 50px 130px 50px; "><span style="font-size:50px"></span><%=Creater.ReputationScore%> <br>xp <br>
        
        
        
         <%if(Creater.username !== currentUser.username ){%>
      <button style="background-color:#6000fc;
                     font-size:15px; font-family: 'Nunito',sans-serif;
                     height:35px;width:90px;
                     border:dashed 2px white;
                     border-radius:5px;
                     ">follow</button></h2>
      <%}else{%>
       <button style="background-color:#6000fc;
                     font-size:15px; font-family: 'Nunito',sans-serif;
                     height:35px;width:90px;
                     border:dashed 2px white;
                     border-radius:5px;
                     ">1234</button></h2>
  <%}%>
      </div>

      
     
      
     
      
    </div>
    
   
</div>







 <div class="container">
    <form  action="/blogs/<%=blog._id%>/run" method = "POST"> 
     
    
      <div class="row" >
        
     <div style="text-align:center" class="col col-lg-12 col-sm-12 col-xs-12">
       <h1 id="Warning"></h1>
        </div>
        
  <div style="border:dashed 0px white;margin-top:-12px;" class="col col-lg-8 col-sm-12 col-xs-12">
    
    
    <div  class="row" style="">
      
      
   <div id="#codeBox" class="col col-lg-12 col-sm-12 col-xs-12" style="height:50px;background-color:#2d2d2d;">
     <div  class="row">
       
       
     <div  id="htmlB" class="col col-lg-4 col-sm-4 col-xs-4" style="border-right:solid 2px black;height:100%;
                                                 text-align:center;
                                                 color:white;
                                                 
                                                 "><p style="margin-top:15px">
       <span style="font-size:20px;"><strong>HTML</strong></span>
       </p></div>
     <div id="cssB" class="col col-lg-4 col-sm-4 col-xs-4" style="border-right:solid 2px black;height:100%;
                                                text-align:center;
                                                color:white;
                                               
                                                "><p style="margin-top:15px">
       <span style="font-size:20px;"><strong>CSS</strong></span>
       </p></div>
     <div id="jsB" class="col col-lg-4 col-sm-4 col-xs-4" style="height:100%;
                                               text-align:center;
                                               color:white;
                                              
                                               "><p style="margin-top:15px">
       <span style="font-size:20px;"><strong>JAVASCRIPT</strong></span>
       </p></div>
     </div>
     
   
     
      </div>
      
      
   
      <div  class="row" >
          <div class="col col-lg-12" style="height:500px;">
      <textarea name = "html" id="htmlDisplay" style="width:100%;height:100%;background-color:<%=currentUser.FavouriteColor%>;
                                        border: solid 1px <%=currentUser.FavouriteColor%>;color:black;
                                        font-family: 'Roboto Mono', monospace;
                                        font-weight:bold"
                type = "text" name = "html" spellcheck="false" rows="10"  readonly ><%= blog.html%></textarea>
    
     <textarea name = "css" id="cssDisplay" style="width:100%;height:100%; border: solid 1px <%=currentUser.FavouriteColor%>;
                                      background-color:<%=currentUser.FavouriteColor%>;color:black;
                                      font-family: 'Roboto Mono', monospace;
                                      font-weight:bold"
                type = "text" name = "html" spellcheck="false" rows="10"  readonly ><%= blog.css%></textarea>
    
     <textarea name = "javascript" id="jsDisplay" style="width:100%;height:100%; border: solid 1px <%=currentUser.FavouriteColor%>;
                                     background-color:<%=currentUser.FavouriteColor%>;color:black;
                                     font-family: 'Roboto Mono', monospace;
                                      font-weight:bold"
                type = "text" name = "html" spellcheck="false" rows="10"  readonly ><%= blog.javascript%></textarea>
    
      </div>
      </div>

  </div>
  </div>
        
    <div class="col col-lg-4 col-sm-12 col-xs-12"> 
      
      
      
      <div style="height:100px;text-align:center" class="col col-lg-12">
   <button   style=" background-color:white;
                     margin-top:20px;
                     font-size:25px; font-family: 'Nunito',sans-serif;
                     height:90px;width:290px;
                     border:dashed 2px black;
                     color:black;
                     border-radius:5px;" type="submit"  ><span id="terminal"><i class="terminal icon"></i></span>Run</button>

      </div>
       
            <div style="height:100px;text-align:center" class="col col-lg-12">
   <button   style=" background-color:green;
                     margin-top:20px;
                     font-size:25px; font-family: 'Nunito',sans-serif;
                     height:90px;width:290px;
                     border:dashed 2px white;
                     color:white;
                     border-radius:5px;" type="submit"  ><span id="terminal"><i class="fa fa-bookmark-o" aria-hidden="true"></i>
     </span>Add to Bookmarks</button>

      </div>
      
      
      <%if(Creater.username === currentUser.username ){%>
      
            <div style="height:100px;text-align:center" class="col col-lg-12">
   <button   style=" background-color:#303030;
                     margin-top:20px;
                     font-size:25px; font-family: 'Nunito',sans-serif;
                     height:90px;width:290px;
                     border:dashed 2px white;
                     color:white;
                     border-radius:5px;" type="submit"  ><span id="terminal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     </span>Edit</button>

      </div>
      
      
      
        <div style="height:100px;text-align:center" class="col col-lg-12">
   <button   style=" background-color:red;
                     margin-top:20px;
                     font-size:25px; font-family: 'Nunito',sans-serif;
                     height:90px;width:290px;
                     border:dashed 2px white;
                     color:white;
                     border-radius:5px;" type="submit"  ><span id="terminal">
     <i class="fa fa-trash" aria-hidden="true"></i>
     </span>Delete</button>

      </div>
      
      <%}%>
      
      
        </div>
</div>
      
   
      
     
    </div>
      </form>
</div>
  </div>






  
    
<!------------------------------------------------------------------------------------------------------------------------->

  
  
<div style="background-color:black" class="row">
  
  
  <div class="col col-lg-12 col-sm-12 col-xs-12"> 
  
        <form  action="/blogs/<%= blog._id %>/comments/" method = "POST">
    
   
      <p style="font-size:25px;color:white;font-family: 'Nunito', sans-serif;">Add comment</p>
       <input style="height:50px;color:white;
                     font-family: 'Nunito', sans-serif;
                     background-color:black;
                     font-size:15px;
                     text-align:center;
                     border:dashed 3px #29CC26;
                     width:400px" type = "text" name = "comment[text]" placeholder="">
        
          <button style="color:white;
                  height:46px;
                  width:120px;
                  font-size:17px;
                  background-color:#29CC26;
                  border-radius:5px;
                 font-family: 'Nunito', sans-serif;
                  border:dashed 2px white;">comment</button>
  </form>  
    
    
    
  
  </div>
  
  
  
  
  
  
  
  <div class="col col-lg-12 col-sm-12 col-xs-12">
    
    
    
    
          

    
        
       
    <% blog.comments.forEach(function(comment){ %>
    
      
     
  <p style="margin-left:20px;
            
            color:white;"><strong><%= comment.author.username %> </strong>
           <%= comment.text %> on  <strong> <%= blog.created.toDateString()  %> </strong>  </p>
     
           
      
 <form  style="" id="replyboxForm" action="/blogs/<%= blog.id %>/comment/<%=comment.id%>/reply"  method = "POST">
    
  
     
       <input style="background-color:black;margin-left:20px;
                     color:white;
                     border:dashed 2px white;" type = "text" name = "reply" placeholder="">
   <button style="color:white;
                  font-family: 'Nunito', sans-serif;
                  height:26px;
                  width:60px;
                  background-color:#bf02ff;
                  border-radius:5px;
                  border:dashed 2px white;">Reply</button>
  
  
           </form> 
     
      
  
    
    
      <% comment.replies.forEach(function(reply){ %>  
  
<p  style="color:#bf02ff;margin-left:40px;
           font-family: 'Open Sans', sans-serif;
           font-size:12px;" id="reply"><%=reply.reply%><b><span id  = "by"> by </span>
  <span id ="replyusername"> <%=reply.username%></span></b></p>

<% })  %>
 
    <% })  %>
           

      
    
         
    
    
    
    
    
  </div>
  
  
</div>
  
     
      
           
   
        

    
    
 
  
   
  
  
  
  
  
  
  
  
    <div class = "col col-lg-4">
    
<!--   <div class = "ui top attached segment">
  <div class = "ui main text container segment">
  <div class = "ui huge header"><%=blog.title%></div>
  <img class = "ui centered rounded image" src = "<%= blog.image %>">
     <h3>Created by <%= blog.creater.username  %></h3>
    <div class = "description">
       <p><%= blog.body  %></p>
       

    </div>
   <span><p><%= blog.created.toDateString()  %></p></span>
    <a class="ui  small  violet button" href = '/blogs/<%=blog._id %>/edit' >Edit</a>
    
        
            <form id = "delete" class = "ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method = "POST">
            <button class="ui  small red button" >Delete</button>
            </form>
  </div>
</div> -->
  </div>
  
  
  
  
  
  
 
<!--    <form action="/blogs/<%= blog._id %>/subscribe/" method = "POST">
      <input class="ui  big  blue button" value ="Subscribe" type = "submit" >
  </form>
  
  <form action="/blogs/<%= blog._id %>/pin/" method = "POST">
      <input class="ui  big  grey button" value ="Pin" type = "submit" >
  </form>
  
  <form action="/blogs/<%= blog._id %>/like/" method = "POST">
      <input class="ui  big  blue button" value ="Like" type = "submit" >
  </form>
  
  </div>
  
  
 <% blog.registeredUsers.forEach(function(Student){ %>

     <p>
       <strong><%= Student.username %> </strong>  
    </p>
  
    <% })  %> -->
                          
                          

  
  
  
</body>
  
  
  


  

<style>
  .Selected{
    background-color:<%=currentUser.FavouriteColor%>;
}
</style>



<script>
  
  $('#cssDisplay').hide();
  $('#jsDisplay').hide();
  $('#htmlB').addClass("Selected");
  
  $('#htmlB').click(function(){
    
  $('#htmlB').toggleClass("Selected");
  $('#cssB').removeClass("Selected");
  $('#jsB').removeClass("Selected");
    
  $('#cssDisplay').hide();
  $('#htmlDisplay').show();
  $('#jsDisplay').hide();
  }) 
  
  $('#cssB').click(function(){
    
   $('#cssB').toggleClass("Selected");
   $('#htmlB').removeClass("Selected");
  $('#jsB').removeClass("Selected");
    
  $('#cssDisplay').show();
  $('#htmlDisplay').hide();
  $('#jsDisplay').hide();
  })
  
   $('#jsB').click(function(){
     
   $('#jsB').toggleClass("Selected");
   $('#cssB').removeClass("Selected");
  $('#htmlB').removeClass("Selected");
     
  $('#jsDisplay').show();
  $('#htmlDisplay').hide();
  $('#cssDisplay').hide();
  })
  
   if($(window).width() < 767){
   $("#Warning").html("To view the source code");
   $('#jsDisplay').hide();
   $('#htmlDisplay').hide();
   $('#cssDisplay').hide();
   $("#codeBox").css("background-color","red");
   $('#htmlB').css("background-color","red");
   $('#cssB').css("background-color","red");
   $('#jsB').css("background-color","red");
   $('#htmlB').text("Switch to ");
   $('#cssB').text("Desktop");
   $('#jsB').text("Version  :(");
   }
  

  
 
  
  
 
  
  
</script>
  

