   


<div style="margin-top:30px;background-color:white;padding:50px;" class="row">
  
      <div style="text-align:center;font-family: 'Open Sans', sans-serif;
                  font-size:100px;
                  color:grey;
                  ;"><p style="font-size:100px;font-family: 'Open Sans', sans-serif;
                                         
                        ">Popular</p></div>
  
  
  
      <div  class="col col-lg-12 col-sm-12 col-xs-12" style=" ">
        <%blogs.forEach(function (blog){%>
        
         <a  href = '/blogs/<%=blog._id %>' >
           
           
               <div class="col col-lg-4 col-sm-12 col-xs-12" style="margin-top:40px;"> 
          <div  id="display" style=" border-right:dashed 3px <%=currentUser.FavouriteColor%>;
                                    border-top:dashed 3px <%=currentUser.FavouriteColor%>;
                                     border-left:dashed 3px <%=currentUser.FavouriteColor%>;
                                    transition: all 180ms ease-in;
                                     height:196px;
                                     background:url(<%=blog.image%>);
                                     background-size: cover;
                                    " 
             class="col col-lg-12">
            <div style="text-align:center;"> 
              
              
          
             
            </div>
        
        </div>
        <div id="info" style="background-color:<%=currentUser.FavouriteColor%>;
                    height:90px;
                    border-right:dashed 3px white;
                    border-left:dashed 3px white;
                    border-bottom:dashed 3px white;
                    transition: all 180ms ease-in;"
             class="col col-lg-12">
          <p style="margin-top:15px;font-family: 'Open Sans', sans-serif;">
             <span style="font-size:25px;color:white;"><b><%=blog.title%></b></span><br><br>
             <span style="font-size:15px;color:white;">Created by <%= blog.creater.username  %></span>
             <span style="font-size:20px;color:white;float:right">
              <i class="fa fa-eye" aria-hidden="true"></i> <%= blog.Views %></span><br>
 
          </p>
         
          </div></div>
        </a>
    
      
        <%})%>
      </div>
      
    </div>




<style>
  
  #display:hover{
    color:white;
    background-color:red;
    transition: all 180ms ease-in;
    border-right:dashed 3px white;
    border-left:dashed 3px white;
    border-top:dashed 3px white;
    
  }
  
   #info:hover{
    background-color:black;
    transition: all 180ms ease-in;
  }
 
  
  
</style>


<script>
  
 
  
  
</script>






