   

<div  class = "row">
   
  
  
  <div  class="col col-lg-3 col-md-3 col-sm-6 col-xs-12"  style="border-right:solid 1px #ccc">
    <p>
      
    <img style="border:solid 2px <%=currentUser.FavouriteColor%>;
                height:150px;
                width:150px;
                object-fit: cover;
                " src="<%=currentUser.ProfileImage%>">
      
    <%if(currentUser.ProfileImage.toString() === "http://res.cloudinary.com/sp241930/image/upload/v1519073356/imageedit_2_7510950099_xbbjip.png"){%>
      
      <a style="margin-left:-145px;
                font-family: 'Overpass Mono', monospace;
                color:black;
                font-size:18px;
                font-weight:bold;
                background-color:rgba(170, 170, 170,0.4);
                padding:6px;
                border:1px solid black;
                border-radius:2px;
                "
         href="/userProfile"><i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-user"></i> Add image</a>
      
      
      <%}%>
  
      
      
      
      
    <span style="font-family: 'Overpass Mono', monospace;
                 font-size:30px;
                 font-weight:bold;
                 text-shadow:2px 2px <%=currentUser.FavouriteColor%> ;">&nbsp;<%=currentUser.username%></span>
<!--        <span class="typcn typcn-flash" style="font-size:50px;"></span><br> -->
      <p>
       <a id="Notifications" href="/userProfile"><span style=" font-family: 'Overpass Mono', monospace;
                                font-size:16px;
                                color:white;
                                background-color:black;
                                padding:10px;
                                box-shadow:3px 3px <%=currentUser.FavouriteColor%>;">
         <i style="color:<%=currentUser.FavouriteColor%>" class="fa fa-bell"></i> Notifications</span>&nbsp;</a>
        
       <a id="FriendRequest" href="">&nbsp; <span style=" font-family: 'Overpass Mono', monospace;
                                font-size:15px;
                                color:white;
                                background-color:black;
                                padding:5px;
                                padding-top:11px;
                                padding-bottom:11px;
                                box-shadow:3px 3px <%=currentUser.FavouriteColor%>;">
         <i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-users"></i> Friend Request</span></a><br><br><br>
        
       <a style="text-align:center" href="/userProfile">&nbsp; <span style=" font-family: 'Overpass Mono', monospace;
                                font-size:16px;
                                
                                margin-left:10px;
                               "><i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-user"></i> Your complete Profile</span></a>
    </p>
    
    </p>
    
  </div>



<div  class="col col-lg-6 col-md-6 col-sm-12 col-xs-12"  style="border-right:solid 1px #ccc;
                                                                background:url(https://i.imgur.com/vkpa3gg.png);
                                                                height:258px;">
   <div class="col col-lg-12" style="text-align:center"><p style="margin-top:10px"><span style="font-family: 'Overpass Mono', monospace;
                                                                     font-size:30px;
                                                                     font-weight:bold;
                                                                     color:<%=currentUser.FavouriteColor%>;
                                                                     text-shadow:2px 2px black;">Friends</span></p></div>
  
  
  <%currentUser.friends.forEach(function(friend){%>
 
  <div class="col col-lg-2">
    <img style="width:100px;
              height:100px;
              border-radius:50px;
              object-fit: cover;
              border:dotted 3px <%=currentUser.FavouriteColor%>;
              text-align:center;
              "
         src="<%=friend.friendImage%>"><br>
    <p style="text-align:center;font-weight:bold;font-family: 'Overpass Mono', monospace;font-size:15px;"><%=friend.username%></p>
    <a  href="/profile/chat/<%=friend.username%>"><p style="text-align:center;color:white;background-color:<%=currentUser.FavouriteColor%>;padding:5px;
                          font-family: 'Overpass Mono', monospace;
                         font-weight:bold;
                        border-radius:3px;
                 ">Chat</p></a>
  </div>
<%})%>
 </div>

<div  class="col col-lg-3 col-md-3 col-sm-12 col-xs-12"  style="border-left:solid 1px #ccc;height:210px;">
  
  
  <div style="text-align:center;
              
              margin-top:10px;
             
              padding-top:20px;
              padding-bottom:20px;" class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
    
    
    <div style="  border:solid 1px #ccc;
                  box-shadow:3px 3px #ccc;
                   padding-top:10px;
                   background-color:<%=currentUser.FavouriteColor%>;
                  color:white;
                    padding-bottom:10px;">
      
      
         <i  style="font-size:60px;font-weight:bold; text-shadow:3px 2px <%=currentUser.FavouriteColor%> ;" class="fa fa-code"></i><br><br>
    <a href="/blogs/new"><span style="font-family: 'Overpass Mono', monospace;
                    font-weight:bold;
                     font-size:20px;
                    ">Create new <br><br> Project</span> </a>
    </div>

  </div>
  
    <div style="text-align:center;
              
              margin-top:30px;
             
             " class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
      
      
      
      <div style="  padding-top:10px;
                    padding-bottom:10px;
                  border:solid 1px #ccc;
                   background-color:black;
                  box-shadow:3px 3px #ccc">
           <i style="font-size:60px;font-weight:bold; text-shadow:3px 2px <%=currentUser.FavouriteColor%>;"  class="glyphicon glyphicon-book" ></i><br><br>
    <p><span style="font-family: 'Overpass Mono', monospace;
                    font-weight:bold;
                     color:white;
                     font-size:20px;
                    ">Edit a <br><br> Project</span> </p>
      </div>

  </div>
  
  

 </div>



 
     </div>




