   

<div style="margin-top:90px" class = "row">
   
  
  
  <div  class="col col-lg-3 col-md-3 col-sm-6 col-xs-12"  style="border-right:solid 1px #ccc;
                                                                 position:fixed;background-color:<%=currentUser.FavouriteColor%>;
                                                                 margin-top:-20px;
                                                                 padding-bottom:20px;
                                                                 height:710px">
    <p>
      
      <p style="text-align:center;
            color:white;background-color:black;padding:5px;
              margin-top:14px;
             font-family: 'Overpass Mono', monospace;
            font-weight:bold;
           border-radius:3px;
            font-size:30px;
            margin-left:20px
            ">Profile</p>
      
    <img style="border:solid 2px <%=currentUser.FavouriteColor%>;
                height:150px;
                width:150px;
                object-fit: cover;
                " src="<%=currentUser.ProfileImage%>">
      
    <%if(currentUser.ProfileImage.toString() === "http://res.cloudinary.com/sp241930/image/upload/v1519073356/imageedit_2_7510950099_xbbjip.png"){%>
      
      <a style="margin-left:-145px;
                font-family: 'Overpass Mono', monospace;
                color:black;
                font-size:18px;
                font-weight:bold;
                background-color:rgba(170, 170, 170,0.4);
                padding:6px;
                border:1px solid black;
                border-radius:2px;
                "
         href="/userProfile"><i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-user"></i> Add image</a>
      
      
      <%}%>
  
      
      
      
      
    <span style="font-family: 'Overpass Mono', monospace;
                 font-size:30px;
                 font-weight:bold;
                 text-shadow:2px 2px <%=currentUser.FavouriteColor%> ;">&nbsp;<%=currentUser.username%></span>
<!--        <span class="typcn typcn-flash" style="font-size:50px;"></span><br> -->
      <p>
       <a id="Notifications" href="/userProfile"><span style=" font-family: 'Overpass Mono', monospace;
                                font-size:16px;
                                color:white;
                                background-color:black;
                                padding:10px;
                                box-shadow:3px 3px <%=currentUser.FavouriteColor%>;">
         <i style="color:<%=currentUser.FavouriteColor%>" class="fa fa-bell"></i> Notifications</span>&nbsp;</a>
        
       <a id="FriendRequest" href="">&nbsp; <span style=" font-family: 'Overpass Mono', monospace;
                                font-size:15px;
                                color:white;
                                background-color:black;
                                padding:5px;
                                padding-top:11px;
                                padding-bottom:11px;
                                box-shadow:3px 3px <%=currentUser.FavouriteColor%>;">
         <i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-users"></i> Friend Request</span></a><br><br><br>
        
       <a style="text-align:center" href="/userProfile">&nbsp; <span style=" font-family: 'Overpass Mono', monospace;
                                font-size:16px;
                                
                                margin-left:10px;
                               "><i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-user"></i> Your complete Profile</span></a><br>
        
        
        
        <div style=""> 
          
           
    </p>
    
    </p>
  
  <div style="background-color:white;
              height: 200px;
              margin-left:10px;
              border:solid 3px black;
    overflow: scroll;" class="col col-lg-12">
     <p style="text-align:center;
               font-size:25px;
               font-family: 'Overpass Mono', monospace;font-size:15px;
               color:<%=currentUser.FavouriteColor%>"><strong>Friends</strong></p>
     <%currentUser.friends.forEach(function(friend){%>
   <div class="col col-lg-12">
      <p style="font-weight:bold;font-family: 'Overpass Mono', monospace;font-size:15px;">
      <img style="width:70px;
              height:70px;
              border-radius:35px;
              object-fit: cover;
              border:solid 3px black;
              text-align:center;
              "
         src="<%=friend.friendImage%>">
        <%=friend.username%>
      
   <span>
     <a  href="/profile/chat/<%=friend.username%>"><span style="color:white;background-color:black;padding:5px;
                          margin-top:14px;
                          font-family: 'Overpass Mono', monospace;
                         font-weight:bold;
                        border-radius:3px;
                        float:right
                 ">Chat</span></a>
        </span>
    
        </p>
    
    
  </div>
    <%})%>
    
  </div>
    </div>
      
  
  
    
  </div>



<div  class="col col-lg-5 col-md-6 col-sm-12 col-xs-12"  style="
                                                                left:383px;
                                                                
                                                                ">
  <button style=" position:fixed;
                 bottom:100px;
                 ">Create Post</button>
  
  <div style="height:450px;
              background-color:#ccc;
              width:100%;
              border-bottom:solid 10px white"></div>
  
    <div style="height:450px;
              background-color:lightblue;
              width:100%;
               border-bottom:solid 10px white"></div>
  
   <div style="height:450px;
              background-color:lightgreen;
              width:100%;
              border-bottom:solid 10px white"></div>
  
    <div style="height:450px;
              background-color:orange;
              width:100%;
               border-bottom:solid 10px white"></div>
 
 </div>

<div  class="col col-lg-4 col-md-3 col-sm-12 col-xs-12"  style="border:solid 1px #ccc;
                                                                height:710px;
                                                                 position:fixed;
                                                                 background-color:<%=currentUser.FavouriteColor%>;
                                                                 top: 75px;
                                                                 right: 0;
                                                                float:right;">
  
  
  <p style="text-align:center;
            color:white;background-color:black;padding:5px;
              margin-top:14px;
             font-family: 'Overpass Mono', monospace;
            font-weight:bold;
           border-radius:3px;
            font-size:30px
            ">Top Projects</p>
  
<div id="myCarousel" class="carousel slide" data-ride="carousel"
     style="margin-top:30px;
            border:solid 3px black"
     >
  <!-- Indicators -->
  <ol class="carousel-indicators" style="margin-bottom:100px">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <%blogs.forEach(function (blog){%>


    <div class="<%=blog.CarouselStatus%>">
      <img src="<%=blog.image%>" alt="Chicago">
      <div style="height:80px;
                  background-color:white;
                  border-top:solid 3px black;">
         <p style="padding-top:10px;
             font-family: 'Overpass Mono', monospace;
                   color:black">
             <span style="font-size:25px;margin-left:15px"><b><%=blog.title%></b></span><br><br>
             <span style="font-size:15px;margin-left:20px">Created by <%= blog.creater.username  %></span>
             <span style="font-size:20px;float:right">
              <i class="fa fa-eye" aria-hidden="true"></i> <%= blog.Views %></span><br>
 
          </p></div>
    </div>

   <%})%>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
  
  

  
  

 </div>



 
     </div>




