   

<div style="margin-top:90px" class = "row">
   
  
  
  <div  class="col col-lg-2 col-md-3 col-sm-6 col-xs-12"  style="border-right:solid 1px #ccc;
                                                                 position:fixed;background-color:;
                                                                 margin-top:-20px;
                                                                 padding-bottom:20px;
                                                                 height:710px">
    <p>
      
    
      
    <p style="text-align:center">
      <img style="border:solid 2px <%=currentUser.FavouriteColor%>;
                height:150px;
                width:150px;
                object-fit: cover;
                " src="<%=currentUser.ProfileImage%>">
    </p>
      
    <%if(currentUser.ProfileImage.toString() === "http://res.cloudinary.com/sp241930/image/upload/v1519073356/imageedit_2_7510950099_xbbjip.png"){%>
      
      <a style="margin-left:-145px;
                font-family: 'Overpass Mono', monospace;
                color:black;
                font-size:18px;
                font-weight:bold;
                background-color:rgba(170, 170, 170,0.4);
                padding:6px;
                border:1px solid black;
                border-radius:2px;
                "
         href="/userProfile"><i  style="color:<%=currentUser.FavouriteColor%>" class="fa fa-user"></i> Add image</a>
      
      
      <%}%>
  
      
      
      
      <br>
    <p style="text-align:center">
      <span style="font-family: 'Overpass Mono', monospace;
                 font-size:30px;
                 font-weight:bold;
                 text-shadow:2px 2px <%=currentUser.FavouriteColor%> ;">&nbsp;<%=currentUser.username%></span><br><br>
      
      <a href=""><button style="font-family: 'Overpass Mono', monospace;
                                font-size:15px;
                                color:white;
                                background-color:black;
                                padding:4px;
                                border:0px;
                                ">Profile</button></a> 
       <a href=""><button style="font-family: 'Overpass Mono', monospace;
                                font-size:15px;
                                color:white;
                                background-color:black;
                                padding:4px;
                                border:0px;
                                ">Friend request</button></a>
      
    </p>
    
<!--        <span class="typcn typcn-flash" style="font-size:50px;"></span><br> -->
      <p> 
     
        
    
        
     
        
        
        
        <div style=""> 
          
           
    </p>
    
    </p><br>
  
  <div style="border-top:solid 1px #ccc;
              height: 400px;
              margin-left:0px;
              width:110%;
             
    overflow: scroll;" class="col col-lg-12">
     <p style="text-align:center;
               font-size:35px;
               font-family: 'Overpass Mono', monospace;
               color:<%=currentUser.FavouriteColor%>"><strong><span style="font-size:24px">Friends</span></strong></p><br>
     <%currentUser.friends.forEach(function(friend){%>
   <div class="col col-lg-12">
      <p style="font-weight:bold;font-family: 'Overpass Mono', monospace;font-size:15px;">
      <img style="width:70px;
              height:70px;
              border-radius:35px;
              object-fit: cover;
              border:solid 3px black;
              float:left;
              margin-left:-25px;
              margin-top:-20px
              "
         src="<%=friend.friendImage%>">
        <span style="margin-top:30px"><%=friend.username%></span>
        
      
   <span>
     <a  href="/profile/chat/<%=friend.username%>"><span style="color:white;background-color:black;padding:5px;
                         
                          font-family: 'Overpass Mono', monospace;
                         font-weight:bold;
                        border-radius:3px;
                       
                         
                 ">Chat</span></a>
        </span>
    
        </p>
    
    
  </div>
    <%})%>
    
  </div>
    </div>
      
  
  
    
  </div>



<div  class="col col-lg-5 col-md-6 col-sm-12 col-xs-12"  style="background-color:#ccc;
                                                                left:253px;
                                                                margin-top:-30px
                                                                ">
  <button style=" position:fixed;
                 bottom:100px;
                 ">Create Post</button>
  
  
  <%posts.forEach(function(post){%>
  
 <div style="margin-top:40px;
             border:solid 1px #ccc;
             padding-top:30px;
             padding-bottom:50px;
             background-color:white;width:100%">
    
   <div style="height:100px;">
     
    
    <span style="font-family: 'Overpass Mono', monospace;
                  font-size:30px;
                  color:black;
                 
                  "><strong><%=post.caption%></strong></span>
     <span style="float:right;
                  margin-right:20px">Posted By <img src="<%=post.postedBy.createrImage%>" alt="" style="height:50px;width:50px;"> 
       <strong style="color:<%=currentUser.FavouriteColor%>"><%=post.postedBy.username%></strong></span>
     <br>
     <span style ="color:<%=currentUser.FavouriteColor%>"><%=post.postedOn.toDateString()%></span>
  
     
   </div>
   
       <div style="height:250px;
              background:url(<%=post.postImage%>);
              background-size:cover;
              margin-top:-50px;
              width:100%;
              border-bottom:solid 10px white"></div>

    <div>
      
         <br>
      
      
      
   
      
       <p style="margin-left:20px"><span style="background-color:rgba(255,255,255,0.5);
                                           padding:10px;
                                           margin-right:20px
         "><strong>Tags :</strong> <span style="background-color:black;
                              color:white;
                              padding:5px;
                        ">Web #</span></span></p><br><br>
      
      
      
      
   <button style="font-family: 'Overpass Mono', monospace;
                                font-size:15px;
                                color:white;
                                background-color:<%=currentUser.FavouriteColor%>;
                                border-radius:5px;
                                padding:4px;
                                border:0px;
                                "><i style="font-size:30px" class="fa fa-retweet"></i> Reblog this post</button>
    
      
  
      
      
  </div>
   
  </div> 
  
  
  
    
  
  
  <%})%>

  
    <div style="height:450px;
              background-color:lightblue;
              width:100%;
               border-bottom:solid 10px white"></div>
  
   <div style="height:450px;
              background-color:lightgreen;
              width:100%;
              border-bottom:solid 10px white"></div>
  
    <div style="height:450px;
              background-color:orange;
              width:100%;
               border-bottom:solid 10px white"></div>
 
 </div>





 
     </div>




