   <div class="row">
    
     <div style="height:550px;
                 background-color:black;
                 opacity:" class="col col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
       <div style="text-align:center;margin-top:30px;">
         <button class="btn" style="animation: mymove1 400s infinite;
                                    z-index:1;
                                    font-size:<%=Math.floor(Math.random()*100)%>;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;
                                    color:#bf02ff;
                                    background-color:black;
                                    border:solid 4px #bf02ff;
                                    z-index:-10px">{}</button>
         
          <button id="helloworld" class="btn" style="animation: mymove2 200s infinite;
                                     z-index:1;
                                     font-size:<%=Math.floor(Math.random()*100)%>;px;
                                     font-family: 'Overpass Mono', monospace;
                                     color:#bf02ff;
                                     background-color:black;
                                     border:solid 4px #bf02ff;
                                     position: relative;">Hello world</button>
         
           <button class="btn" style="animation: mymove3 200s infinite;
                                      z-index:1;
                                      font-size:<%=Math.floor(Math.random()*100)%>px;
                                      font-family: 'Overpass Mono', monospace;
                                      color:#bf02ff;
                                      background-color:black;
                                      border:solid 4px #bf02ff;
                                      position: relative;">()</button>
         
         <button class="btn" style="animation: mymove4 100s infinite;
                                    z-index:1;
                                    font-size:<%=Math.floor(Math.random()*100)%>px;
                                    font-family: 'Overpass Mono', monospace;
                                    color:#bf02ff;
                                    background-color:black;
                                    border:solid 4px #bf02ff;
                                    position: relative;">var</button>
         
         <button class="btn" style="animation: mymove5 300s infinite;
                                    z-index:1;
                                    font-size:<%=Math.floor(Math.random()*100)%>px;
                                    font-family: 'Overpass Mono', monospace;
                                    color:#bf02ff;
                                    background-color:black;
                                    border:solid 4px #bf02ff;
                                    position: relative;">css</button>
         
            <button class="btn" style="animation: mymove1 500s infinite;
                                       z-index:1;
                                      font-family: 'Overpass Mono', monospace;
                                      position: relative;
                                      font-size:<%=Math.floor(Math.random()*100)%>px;
                                      color:#bf02ff;
                                      background-color:black;
                                      border:solid 4px #bf02ff;
                                      z-index:-10px">HTML</button>
         
          <button class="btn" style="animation: mymove2 600s infinite;
                                     z-index:1;
                                     font-size:<%=Math.floor(Math.random()*100)%>px;
                                     font-family: 'Overpass Mono', monospace;
                                     color:#bf02ff;
                                     background-color:black;
                                     border:solid 4px #bf02ff;
                                     position: relative;">if()</button>
         
           <button class="btn" style="animation: mymove3 700s infinite;
                                      z-index:1;
                                      font-size:<%=Math.floor(Math.random()*100)%>px;
                                      font-family: 'Overpass Mono', monospace;
                                      position: relative;
                                      color:#bf02ff;
                                      background-color:black;
                                      border:solid 4px #bf02ff;">else()</button>
         
         <button class="btn" style="animation: mymove4 300s infinite;
                                    font-size:<%=Math.floor(Math.random()*100)%>px;
                                    color:#bf02ff;
                                    background-color:black;
                                    border:solid 4px #bf02ff;
                                    z-index:1;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;
                                    ">[ ]</button>
         
         <button class="btn" style="animation: mymove5 250s infinite;
                                    color:#bf02ff;
                                    background-color:black;
                                    border:solid 4px #bf02ff;
                                    z-index:1;
                                    font-size:<%=Math.floor(Math.random()*100)%>px;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;">let</button>
         
          <button class="btn" style="animation: particle1 800s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
         <button class="btn" style="animation: particle2 900s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
         <button class="btn" style="animation: particle3 1000s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
         
         <button class="btn" style="animation: particle4 600s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
           <button class="btn" style="animation: particle5 300s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
         <button class="btn" style="animation: particle6 900s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
         <button class="btn" style="animation: particle7 1000s infinite;
                                    font-size:1px;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
         
         <button class="btn" style="animation: particle8 1000s infinite;
                                    font-size:1px;
                                    color:#bf02ff;
                                    background-color:black;
                                    border:solid 4px #bf02ff;
                                    background-color:white;
                                    border:solid 0px #bf02ff;
                                    font-family: 'Overpass Mono', monospace;
                                    position: relative;"></button>
         
         
       
         
         
         
         
         
<!--           <button class="btn" style="animation: mymove2 8s 1;  
                                     position: relative;">0</button>
         <button class="btn" style="animation: mymove3 8s 1 ;  
                                    position: relative;">d</button>
         <button class="btn" style="animation: mymove4 8s 1;  
                                    position: relative;">e</button>
         <button class="btn" style="animation: mymove5 8s 1;  
                                    position: relative;">S</button>
         <button class="btn" style="animation: mymove6 8s 1;  
                                    position: relative;">t</button>
         <button class="btn" style="animation: mymove7 8s 1;  
                                    position: relative;">ea</button>
         <button class="btn" style="animation: mymove8 8s 1 2s;  
                                    position: relative;">a</button>
         <button class="btn" style="animation: mymove9 8s 1;  
                                    position: relative;">k</button> -->
         
       </div>
     </div>
     
     
     <div id="mask" class="col col-lg-12 col-md-12 col-sm-12  col-xs-12"
                                 style="height:100%;
                                       background-color:rgba(0,0,0,0.5);
                                       margin-top:-460px;
                                       z-index:2;
                                       text-align:center;
                                       ">
       
      
       
       <div style="margin-top:100px;
                   ">
         
        <form  action = '/login' method = "post">
 
       <input id="inputUsername" style="width:20%;
                     text-align:center;
                     background-color:rgba(255, 255, 255,0.7);
                     border:dashed 4px rgba(143, 19, 253,1);
                     font-family: 'Overpass Mono', monospace;
                     font-weight:900;
                     font-size:24px;
                     color:black;
                     padding:10px;" type = 'text' name = 'username' placeholder = 'Username'><br><br><br>

         <input id="inputPassword" style="width:20%;
                     text-align:center;
                     background-color:rgba(143, 19, 253,0.7);
                     border:dashed 4px white;
                     font-family: 'Overpass Mono', monospace;
                     font-weight:900;
                     color:white;
                     font-size:24px;
                     padding:10px;" type = 'password' name = 'password' placeholder = 'Password'><br><br><br>

           <button id="buttonLogin"  style="width:8%;
                     text-align:center;
                     background-color:rgba(143, 19, 253,1);
                     border:solid 5px rgba(143, 19, 253,1);                       
                     border-radius:4px;
                     border:solid 3px rgba(143, 19, 253,1)
                     font-family: 'Overpass Mono', monospace;
                     font-weight:900;
                     color:white;
                     font-size:15px;
                     padding:10px;" ><span style="color:white"><i class="fa fa-lock" aria-hidden="true"></i> Login</span></button><br><br><br><br>
          
          
          <span style="font-family: 'Overpass Mono', monospace;
                        font-weight:900;
                       font-size:16px;
                       color:white;">New to codeSteak ? <a href="/register"><span style="color:green;
                                                                                font-size:18px;
                                                                                font-weight:100;
                                                                                padding:5px;
                                                                                border-bottom:solid 1px green;">Click</span></a> here</span>
    
</form>
         
       </div>
     
       
       
       
       
     </div>
  
     
</div> 




<style>
  
  /*   animation of {} */
@keyframes  mymove1{
    0%   {top: <%=Math.floor(Math.random()*300)%>; left: <%=Math.floor(Math.random()*-410)%>; }
    20%  {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*800)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*00)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*-500)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*800)%>; left:<%=Math.floor(Math.random()*800)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*800)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  @keyframes  mymove2{
    0%   {top: <%=Math.floor(Math.random()*-400)%>; left: <%=Math.floor(Math.random()*400)%>; }
    20%  {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*-400)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*-120)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*200)%>; left: <%=Math.floor(Math.random()*500)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*50)%>; left:<%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*300)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  @keyframes  mymove3{
    0%   {top: <%=Math.floor(Math.random()*400)%>; left: <%=Math.floor(Math.random()*-400)%>; }
    20%  {top: <%=Math.floor(Math.random()*150)%>; left: <%=Math.floor(Math.random()*400)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*120)%>; left: <%=Math.floor(Math.random()*-400)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*300)%>; left:<%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*500)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  @keyframes  mymove4{
    0%   {top: <%=Math.floor(Math.random()*-400)%>; left: <%=Math.floor(Math.random()*400)%>; }
    20%  {top: <%=Math.floor(Math.random()*-400)%>; left: <%=Math.floor(Math.random()*-400)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*10)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*200)%>; left: <%=Math.floor(Math.random()*-500)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*10)%>; left:<%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*80)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  @keyframes  mymove5{
    0%   {top: <%=Math.floor(Math.random()*400)%>; left: <%=Math.floor(Math.random()*-400)%>; }
    20%  {top: <%=Math.floor(Math.random()*20)%>; left: <%=Math.floor(Math.random()*-400)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*20)%>; left: <%=Math.floor(Math.random()*-200)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*40)%>; left: <%=Math.floor(Math.random()*500)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*500)%>; left:<%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  
    @keyframes  particle1{
    0%   {top: <%=Math.floor(Math.random()*400)%>; left: <%=Math.floor(Math.random()*-500)%>; }
    20%  {top: <%=Math.floor(Math.random()*-200)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*400)%>; left: <%=Math.floor(Math.random()*-500)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*-200)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*800)%>; left:<%=Math.floor(Math.random()*-100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*-100)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  @keyframes  particle2{
    0%   {top: <%=Math.floor(Math.random()*-100)%>; left: <%=Math.floor(Math.random()*-100)%>; }
    20%  {top: <%=Math.floor(Math.random()*200)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*-400)%>; left: <%=Math.floor(Math.random()*-500)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*-200)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*300)%>; left:<%=Math.floor(Math.random()*-100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*-500)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 

  
  @keyframes  particle3{
    0%   {top: <%=Math.floor(Math.random()*700)%>; left: <%=Math.floor(Math.random()*-100)%>; }
    20%  {top: <%=Math.floor(Math.random()*600)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*-400)%>; left: <%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*-700)%>; left: <%=Math.floor(Math.random()*200)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*-300)%>; left:<%=Math.floor(Math.random()*-100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*-500)%>; left: <%=Math.floor(Math.random()*-600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  
   @keyframes  particle4{
    0%   {top: <%=Math.floor(Math.random()*500)%>; left: <%=Math.floor(Math.random()*-100)%>; }
    20%  {top: <%=Math.floor(Math.random()*400)%>; left: <%=Math.floor(Math.random()*-200)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*-800)%>; left: <%=Math.floor(Math.random()*-100)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*300)%>; left: <%=Math.floor(Math.random()*-200)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*-500)%>; left:<%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*500)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  
  
  @keyframes  particle5{
    0%   {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*-1000)%>; }
    20%  {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*-1000)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*-1000)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*1000)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*800)%>; left:<%=Math.floor(Math.random()*1000)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
    @keyframes  particle6{
    0%   {top: <%=Math.floor(Math.random()*500)%>; left: <%=Math.floor(Math.random()*-100)%>; }
    20%  {top: <%=Math.floor(Math.random()*-300)%>; left: <%=Math.floor(Math.random()*400)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*300)%>; left: <%=Math.floor(Math.random()*700)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*-100)%>; left: <%=Math.floor(Math.random()*-600)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*200)%>; left:<%=Math.floor(Math.random()*100)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*-400)%>; left: <%=Math.floor(Math.random()*-300)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
      @keyframes  particle7{
    0%   {top: <%=Math.floor(Math.random()*-200)%>; left: <%=Math.floor(Math.random()*300)%>; }
    20%  {top: <%=Math.floor(Math.random()*600)%>; left: <%=Math.floor(Math.random()*-200)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*-800)%>; left: <%=Math.floor(Math.random()*300)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*800)%>; left: <%=Math.floor(Math.random()*1000)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*-800)%>; left:<%=Math.floor(Math.random()*1000)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*100)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  
      @keyframes  particle8{
    0%   {top: <%=Math.floor(Math.random()*200)%>; left: <%=Math.floor(Math.random()*500)%>; }
    20%  {top: <%=Math.floor(Math.random()*-800)%>; left: <%=Math.floor(Math.random()*-100)%>; transform : rotate(<%=Math.floor(Math.random()*360)%>deg);}
    40%  {top: <%=Math.floor(Math.random()*200)%>; left: <%=Math.floor(Math.random()*500)%>; transform : rotate(<%=Math.floor(Math.random()*720)%>deg);}
    60%  {top: <%=Math.floor(Math.random()*-500)%>; left: <%=Math.floor(Math.random()*500)%>; transform : rotate(<%=Math.floor(Math.random()*1080)%>deg);}
    80% {top: <%=Math.floor(Math.random()*300)%>; left:<%=Math.floor(Math.random()*-900)%>; transform : rotate(<%=Math.floor(Math.random()*1440)%>deg);}
    100% {top: <%=Math.floor(Math.random()*-100)%>; left: <%=Math.floor(Math.random()*600)%>; transform : rotate(<%=Math.floor(Math.random()*1800)%>deg);}
  
} 
  
  
  
  
  
  
  
  
 .btn{
                        
                        
                       
                        
                        padding:3px 3px 3px 3px;
                        
                        
  }
  
  
  
  
</style>


<script>
    $( function() {
    $( "#helloworld" ).draggable();
  } );
  </sc
</script>




